<form th:method="POST" th:action="@{/users/create}" th:object="${user}">
    <label>Name</label>
    <label>
        <input type="text" th:field="*{name}">
    </label>
    <br>

    <label>Lastname</label>
    <label>
        <input type="text" th:field="*{lastname}">
    </label>
    <br>

    <label>Age</label>
    <label>
        <input type="text" th:field="*{age}">
    </label>
    <br>

    <th:block th:if="${message != null}">
        <p th:text="${message}"></p>
    </th:block>
    <br>

    <input type="submit" value="Create">
</form>