<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<h1>User Management</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.age}"></td>
        <td><a th:href="@{'/users/update?id=' + ${user.id}}">Edit</a></td>
        <td><a th:href="@{'/users/delete?id=' + ${user.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/users/create}">Create New User</a>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
</body>
</html>